:root {
    --modern-beige: rgb(245, 239, 223);
    --modern-background: rgb(0, 0, 0 / 20%);
    --password-background: rgb(214, 201, 184);
    --text-grey: rgb(145, 145, 145);
    --nav-black: #212529;
}

body {
    margin: 0;
    padding: 0;
    font-family: monospace, Arial;
    background: var(--modern-background);
    color: var(--text-grey);
    overflow-x: hidden;
}

body::-webkit-scrollbar {
    background: transparent;
    width: 12.5px;
}

body::-webkit-scrollbar-thumb {
    background: #9b9d9e;
    border-radius: 20px;
    position: relative;
    top: -5vh;
}

header {
    width: 100vw;
    display: grid;
    grid-template-areas: "title""subtitle";
    grid-template-columns: 60vw;
    padding-left: 20vw;
    padding-right: 20vw;
    padding-top: 5vw;
    text-align: center;
    margin-bottom: 2.5vh;
}

header>h1 {
    font-size: 5em;
    margin-bottom: 5vh;
}

main {
    width: 100vw;
    margin-bottom: 10vh;
}

.overview {
    width: 100%;
    padding-left: 10vw;
    padding-right: 10vw;
}

.education > h2:hover, .medicine > h2:hover, .finance > h2:hover {
    text-decoration: underline;
}

/* Title Code Animation ------------------ */

.title-code::before {
    content: " Code";
    animation: title_code_before 5s linear 2s infinite;
    white-space: pre;
}

.title-code::after {
    content: ' ';
    animation: title_code_after 5s linear 2s infinite;
    text-decoration: underline;
    white-space: pre;
}

@keyframes title_code_before {
    0% {
        content: "";
    }

    10% {
        content: " ";
    }

    15% {
        content: " C";
    }

    20% {
        content: " Co";
    }

    25% {
        content: " Cod";
    }

    45% {
        content: " Code.";
    }

    100% {
        content: " Code.";
    }
}

@keyframes title_code_after {
    0% {
        content: " ";
    }

    10% {
        content: "C";
    }

    15% {
        content: "o";
    }

    20% {
        content: "d";
    }

    25% {
        content: "e";
    }

    45% {
        content: "";
    }

    100% {
        content: "";
    }
}